@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* VARIAVEIS */
:root {
    --cor-fundo: #373738;
    --cor-fundo-claro: #282829;
    --cor-fundo-transparente: #d7d8abc5;
    --cor-principal: #cfcd43; /* #2f91bf */
    --cor-input-label: #d6d585;
    --cor-principal-clara: #d8d7ab;
    --2nd-cor-principal: #ffffffcc;
    --cor-texto: #fff;
    --cor-texto-header: #fff;
    --cor-bordas: #fff;
    --fonte-grande: 5rem;
    --h2-fonte: 1.9rem;
    --p-fonte: 1rem;

    --cor-fundo: #ffffff;
    --cor-fundo-claro: #282829c5;
    --cor-fundo-transparente: #d7d8abc5;
    --cor-principal: #cfcd43;
    --cor-input-label: #d6d585;
    --cor-texto-input-label: #282829;
    --cor-principal-clara: #d8d7ab;
    --2nd-cor-principal: #ffffffcc;
    --cor-texto: #000000;
    --cor-texto-header: #fff;
    --cor-bordas: #000000;
    --fonte-grande: 5rem;
    --h2-fonte: 1.9rem;
    --p-fonte: 1rem;
}

/* BODY */
body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}

/* HEADER - NAVBAR */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-fundo-claro);
    padding: 24px 30px;
    transition: .3s;
}

.logo {
    color: var(--cor-texto-header);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--cor-principal);
}

.navbar {
    display: flex;
}

#mode {
    color: var(--cor-texto-header);
    /*font-size: 1rem;
    font-weight: 500;*/
    
    border-radius: 100%;
    cursor: pointer;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#mode:hover {
    /*background: var(--cor-principal);*/
    color: var(--cor-principal);
    font-variation-settings: 'FILL' 1;
    font-size: 1.8rem;
    transition: .3s;
}

#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* SECTION */
section {
    padding: 120px 0;
}

/* principal */
.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    padding: 15px;
}

.container div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

select, label, input {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    height: 50px;
    border: 1px solid var(--cor-bordas);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: none;
    color: var(--cor-texto);
    text-align: center;
}

.table_header input, .table_header label {
    font-size: 1rem;
    font-weight: 700;
    /*padding-left: 18px;*/
    background-color: var(--cor-input-label);
    color: var(--cor-texto-input-label);
    border: 1px solid #282829;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

select option {
    background-color: var(--cor-fundo-claro);
}

.button-container {
    align-self: center;
    padding-top: 8px;
}

.button-container button {
    padding: 8px 40px;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--cor-principal);
    background-color: var(--cor-fundo-claro);
    cursor: pointer;
}

.button-container button:hover {
    background-color: var(--cor-principal);
    color: var(--cor-fundo-claro);
}

@media screen and (max-width: 1024px) {
    /*.container {
        align-items: flex-start;
    }*/
}

@media screen and (max-width: 1000px) {
    #input-f, .label_f {
        display: none;
    }
}

@media screen and (max-width: 890px) {
    #input-e, .label_e {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    #input-d, .label_d {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #input-c, .label_c {
        display: none;
    }
}

@media screen and (max-width: 564px) {
    select, label, input {
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        height: 40px;
        
    }
    .table_header input, .table_header label {
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 450px) {
    select, label, input {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        height: 30px;
        font-size: 0.7rem;
    }
    .logo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px) {
    select, label, input {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        height: 30px;
    }
    .table_header input, .table_header label {
        font-size: 0.7rem;
    }
    header {
        padding: 22px 13px;
    }
    
}

@media screen and (max-width: 360px) {
    select, label, input {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        height: 30px;
    }
    .logo, #mode {
        font-size: 0.9rem;
    }
    header {
        padding: 20px 12px;
    }
}

@media screen and (max-width: 320px) {
    select, label, input {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 30px;
    }
    .table_header input, .table_header label {
        font-size: 0.6rem;
    }
    header {
        padding: 16px 8px;
    }
    .logo, #mode {
        font-size: 0.8rem;
    }
}